* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fb;
    color: #172033;
}




.navbar {
    width: 100%;
    height: 75px;
    background: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 6%;

    border-bottom: 1px solid #e8ebf1;
}

.logo {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #182b49;
}

.navbar nav {
    display: flex;
    gap: 30px;
}

.navbar nav a {
    text-decoration: none;
    color: #5d6678;
    font-size: 14px;
    font-weight: 500;
}

.navbar nav a:hover {
    color: #2563eb;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.login-btn,
.signup-btn {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.login-btn {
    border: 1px solid #dce1ea;
    background: white;
    color: #172033;
}

.signup-btn {
    border: none;
    background: #2563eb;
    color: white;
}




.search--flight{
   
}
.search-box{
  padding-top: 1px;
}

.search-content {
    text-align: center;
    color: white;
    margin-bottom: 35px;
}

.search-content h1 {
    font-size: 40px;
    margin-bottom: 12px;
}

.search-content p {
    color: #d9e6f5;
}




.search-box {
    max-width: 1250px;
    margin: auto;

    background: white;

    border-radius: 18px;
margin-bottom: 5px;
    padding: 23px;

    display: grid;

    grid-template-columns:
        1.1fr
        30px
        1.1fr
        1fr
        1fr
        .9fr
        150px;

    gap: 12px;

    align-items: end;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, .15);
}



.trip-type {
    grid-column: 1 / -1;

    display: flex;
    gap: 25px;

    margin-bottom: 8px;
}

.trip-type label {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.trip-type input {
    margin-right: 6px;
}




.search-field {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.search-field label {
    font-size: 12px;
    font-weight: 700;
    color: #606b7d;
}

.search-field select,
.search-field input {
    width: 100%;
    height: 45px;

    border: 1px solid #dfe4ec;
    border-radius: 9px;

    padding: 0 12px;

    outline: none;

    background: #fff;

    color: #1c2638;
}

.search-field select:focus,
.search-field input:focus {
    border-color: #2563eb;
}




.swap-btn {
    width: 32px;
    height: 32px;

    border-radius: 50%;

    border: 1px solid #d8deea;

    background: white;

    cursor: pointer;

    color: #2563eb;

    font-size: 18px;

    margin-bottom: 6px;
}

.swap-btn:hover {
    background: #eff6ff;
}




.search-btn {
    height: 45px;

    border: none;

    border-radius: 9px;

    background: #2563eb;

    color: white;

    font-weight: 700;

    cursor: pointer;

    transition: .2s;
}

.search-btn:hover {
    background: black;
    transform: translateY(-1px);
}




.results-section {
    max-width: 1400px;

    margin: auto;

    padding: 45px 6%;

    display: grid;

    grid-template-columns: 250px 1fr;

    gap: 30px;
}



.filter-sidebar {
    background: white;

    border-radius: 15px;

    padding: 22px;

    height: fit-content;

    border: 1px solid #e7ebf2;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;

    border-bottom: 1px solid #edf0f4;
}

.filter-header h2 {
    font-size: 20px;
}

.filter-header button {
    border: none;
    background: none;

    color: #2563eb;

    cursor: pointer;

    font-size: 12px;
    font-weight: 600;
}

.filter-group {
    padding: 22px 0;

    border-bottom: 1px solid #edf0f4;
}

.filter-group:last-child {
    border-bottom: none;
}

.filter-group h3 {
    font-size: 14px;

    margin-bottom: 15px;
}




.check-option {
    display: flex;

    align-items: center;

    gap: 9px;

    margin-bottom: 12px;

    cursor: pointer;

    color: #5d6678;

    font-size: 13px;
}

.check-option input {
    accent-color: #2563eb;

    width: 15px;
    height: 15px;
}


/* PRICE */

.price-inputs {
    display: flex;

    gap: 8px;
}

.price-inputs input {
    width: 50%;

    height: 38px;

    border: 1px solid #dfe4ec;

    border-radius: 7px;

    padding: 0 8px;

    outline: none;
}



.results-top {
    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-bottom: 20px;
}

.results-top h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

.results-top p {
    color: #7a8495;
    font-size: 13px;
}

#sort-flights {
    height: 40px;

    border: 1px solid #dfe4ec;

    border-radius: 8px;

    background: white;

    padding: 0 12px;

    outline: none;
}



.flight-results {
    display: flex;

    flex-direction: column;

    gap: 15px;
}

.flight-card1 {
    background: white;

    border-radius: 15px;

    border: 1px solid #e7ebf2;

    padding: 22px;

    transition: .2s;
}

.flight-card1:hover {
    transform: translateY(-2px);

    box-shadow:
        0 10px 30px rgba(20, 40, 80, .08);
}




.card-top {
    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-bottom: 20px;
}

.airline-info1 {
    display: flex;

    align-items: center;

    gap: 12px;
}

.airline-logo1 {
    width: 45px;
    height: 45px;

    border-radius: 10px;

    background: #eef4ff;

    display: flex;

    align-items: center;

    justify-content: center;

    color: #2563eb;

    font-weight: 800;

    font-size: 12px;
}

.airline-info1 h4 {
    font-size: 14px;

    margin-bottom: 4px;
}

.airline-info1 p {
    color: #8992a2;

    font-size: 11px;
}

.class-badge {
    padding: 6px 10px;

    border-radius: 20px;

    background: #f1f5f9;

    color: #526074;

    font-size: 11px;

    font-weight: 700;
}




.flight-route {
    display: grid;

    grid-template-columns: 100px 1fr 100px;

    align-items: center;

    gap: 20px;
}

.flight-time1 h3 {
    font-size: 22px;

    margin-bottom: 5px;
}

.flight-time1 p {
    color: #788397;

    font-size: 12px;
}




.flight-line {
    text-align: center;
}

.flight-line span {
    display: block;

    color: #8993a3;

    font-size: 11px;

    margin-bottom: 7px;
}

.line {
    height: 1px;

    background: #dfe4ec;

    position: relative;
}

.line::after {
    content: "✈";

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    background: white;

    padding: 0 8px;

    color: #2563eb;
}

.flight-line small {
    display: block;

    margin-top: 8px;

    color: #8b95a6;

    font-size: 10px;
}




.card-bottom {
    border-top: 1px solid #edf0f4;

    margin-top: 20px;

    padding-top: 18px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.flight-meta {
    display: flex;

    gap: 20px;

    color: #6c7687;

    font-size: 12px;
}

.flight-price1 {
    text-align: right;
}

.flight-price1 span {
    color: #8993a3;

    font-size: 11px;
}

.flight-price1 strong {
    display: block;

    font-size: 22px;

    color: #172033;

    margin: 3px 0;
}

.select-flight {
    border: none;

    background: #2563eb;

    color: white;

    padding: 9px 18px;

    border-radius: 8px;

    cursor: pointer;

    font-weight: 600;
}


/* js---------------------- */

.empty-message {
    background: white;

    border-radius: 15px;

    padding: 70px 25px;

    text-align: center;

    border: 1px solid #e7ebf2;
}

.empty-icon {
    width: 65px;
    height: 65px;

    border-radius: 50%;

    background: #eff6ff;

    color: #2563eb;

    display: flex;

    align-items: center;

    justify-content: center;

    margin: 0 auto 20px;

    font-size: 28px;
}

.empty-message h2 {
    margin-bottom: 10px;
}

.empty-message p {
    color: #7b8596;

    max-width: 400px;

    margin: auto;

    line-height: 1.6;
}

#empty-reset {
    margin-top: 20px;

    border: none;

    background: #2563eb;

    color: white;

    padding: 11px 20px;

    border-radius: 8px;

    cursor: pointer;
}



.pagination {
    display: flex;

    justify-content: center;

    gap: 7px;

    margin-top: 25px;
}

.page-btn {
    width: 35px;
    height: 35px;

    border: 1px solid #dfe4ec;

    background: white;

    border-radius: 7px;

    cursor: pointer;
}

.page-btn.active {
    background: #2563eb;

    color: white;

    border-color: #2563eb;
}




@media (max-width: 1100px) {

    .search-box {
        grid-template-columns: 1fr 1fr;
    }

    .swap-btn {
        display: none;
    }

    .search-btn {
        width: 100%;
    }

    .results-section {
        grid-template-columns: 220px 1fr;
    }
}


@media (max-width: 800px) {

    .navbar {
        padding: 0 20px;
    }

    .navbar nav {
        display: none;
    }


    .search-content h1 {
        font-size: 30px;
    }

    .search-box {
        grid-template-columns: 1fr;
    }

    .trip-type {
        grid-column: auto;
    }

    .results-section {
        grid-template-columns: 1fr;

        padding: 30px 20px;
    }

    .filter-sidebar {
        order: 1;
    }

    .results-container {
        order: 2;
    }

    .flight-route {
        grid-template-columns: 80px 1fr 80px;
    }

}


@media (max-width: 500px) {

    .nav-buttons {
        display: none;
    }

    .search-content h1 {
        font-size: 26px;
    }

    .results-top {
        flex-direction: column;

        align-items: flex-start;

        gap: 15px;
    }

    .flight-route {
        grid-template-columns: 1fr;

        text-align: center;
    }

    .flight-time1 {
        text-align: center;
    }

    .card-bottom {
        flex-direction: column;

        gap: 20px;

        align-items: stretch;
    }

    .flight-price1 {
        text-align: left;
    }

    .select-flight {
        width: 100%;
    }

    .flight-meta {
        flex-wrap: wrap;
    }
}



